
  <footer id="contacto">
      <div class="contenedor">
          <div class="sticky-container">
            <ul class="sticky">
                <li>
                    <img src="./assets/img/linkedin.png" width="32" height="32">
                    <p><a href="https://www.linkedin.com/in/jahir-alexis-calderón-ferrera-98b2b4100" target="_blank">LinkedIn<br></a>Visitar</p>
                </li>
                <li>
                  <img src="./assets/img/ig.png" width="32" height="32">
                  <p><a href="https://www.instagram.com/jahirferrera/?hl=es-la" target="_blank">Instagram<br></a>Visitar</p>
              </li>
            </ul>
        </div>

      </div>

  </footer>

  <script src="https://kit.fontawesome.com/c15b744a04.js" crossorigin="anonymous"></script>
