<section class="info">
  <div class="contenedor">

  </div>
</section>

<section class="cards contenedor">
  <h2 class="titulo">Habilidades</h2>
  <div class="content-cards">
      <article class="card">
        <div class="card-content">
          <img src="../../assets/img/javascript.png" width="150px" >
          <h3>JavaScript</h3>
          </div>
      </article>

      <article class="card">
        <div class="card-content">
          <img src="../../assets/img/php.png" width="250px" >
          <h3>PHP</h3>
          </div>
      </article>

      <article class="card">
        <div class="card-content">
          <img src="../../assets/img/java.png" width="170px" >
          <h3>Java</h3>
          </div>
      </article>

      <article class="card">
        <div class="card-content">
        <img src="../../assets/img/sql.jpg" width="140px" >
        <h3>Bases de datos Sql y no Sql</h3>
        </div>
    </article>

    <article class="card">
      <div class="card-content">
        <img src="../../assets/img/html.png" width="150px" >
        <h3>Html</h3>
        </div>
    </article>

    <article class="card">
      <div class="card-content">
        <img src="../../assets/img/css.jpg" width="150px" >
        <h3>Css</h3>
      </div>
    </article>

    <article class="card">
      <div class="card-content">
      <img src="../../assets/img/angular.png" width="150px" >
      <h3>Angular</h3>
    </div>
  </article>

  <article class="card">
    <div class="card-content">
      <img src="../../assets/img/express.svg" width="240px" >
      <h3>Express</h3>
    </div>
  </article>

  <article class="card">
    <div class="card-content">
      <img src="../../assets/img/vue.png" width="150px" >
      <h3>Vue.Js</h3>
      <p>En proceso de aprendizaje</p>
    </div>
  </article>

    <article class="card">
      <div class="card-content">
        <img src="../../assets/img/ps.png" width="150px" >
        <h3>Photoshop</h3>
      </div>
  </article>

  <article class="card">
    <div class="card-content">
      <img src="../../assets/img/lr.png" width="150px" >
      <h3>Lightroom</h3>
    </div>

  </article>

  <article class="card">
      <div class="card-content">
        <img src="../../assets/img/linux.png" width="150px" >
      <h3>Linux</h3>
      </div>


  </article>
  </div>
</section>



<section class="galeria">
  <div class="contenedor">
  <h2 class="titulo">Portafolio</h2>
   <!-- Flip card 1 -->
   <div class="tarjeta">
   <div class="flip-card">
     <div class="flip-card-inner">
       <div class="flip-card-front">
         <img src="../../assets/img/oc.png" alt="Avatar" style="width:300px;height:300px;">
       </div>
       <div class="flip-card-back">
         <div class="flip-card-font">
           <h1>Omnicare</h1>
         <p>Proyecto sobre una farmacia virtual con pasarela de pago incluida.</p>
         <p>Se utiliza PayPal como pasarela de pago e implementa tecnologías como Express, Node.js y Mongo DB.</p>
         <a href="https://omnicare.herokuapp.com/" class="cta" >Visitar Omnicare</a>
         </div>

       </div>
     </div>
   </div>

   <!-- Flip card 2
   <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../assets/img/oc.ico" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1>Omnicare</h1>
      </div>
    </div>
  </div>-->
</div>
</div>

<div class="svg-wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
    style="height: 100%; width: 100%;">
    <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
        style="stroke: none; fill: #f5576c;"></path>
</svg></div>
</section>


