<section class="wave-contenedor website">
  <img src="assets/img/ilustracion1.svg" alt="">
  <div class="contenedor-textos-main">
      <h2 class="titulo left">Sobre mi</h2>
      <p class="parrafo">Actualmente estoy finalizando las materias de postgrado como opción a trabajo de graduación.
        Como recién egresado de la Universidad Tecnológica de Panamá estoy ansioso por poder demostrar mis habilidades
        en programación en el campo laboral. Me considero una persona proactiva y con habilidades blandas desarrolladas.</p>
  </div>
</section>
